@import "../../../styles/mixins";
@import "../../../styles/variables";

.section-features{
  margin-bottom: 50px;
  .container {
    @include flex(space-between, center, null, column);

    .section-heading{
      margin-top: 10px;
    }

    .section-features-cards{
      @include flex(space-between, flex-start, 16px);
      align-self: stretch;
      margin-top: clamp(24px, calc(40 / 1400 *100vw), 408px);

      .features-card-item{
        @include flex(flex-start, center, 10px, column);

        .features-card-img-wrapper{
          //width: 100%;

          img{
            display: block;
            width: 42px;
            height: auto;
          }
        }
      }

    }
  }
}
