@import "./variables";

@mixin flex($jc:null, $ai:null, $gap:null, $fd: null) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  gap: $gap;
}

%card-tittle {
  font-family: 'Philosopher', sans-serif;
  font-size: $fz-l;
  line-height: $lh-l;
  font-weight: 700;
}

%inputText {
  opacity: 0.8;
  font-size: $fz-s;
  line-height: $lh-s;
}

%menu-hover{
  transform: scale(1.01);
  color: $main-color;
}

%footer{
  font-size: $fz-xs;
  line-height: $lh-xs;
  color: $secondary-text-color;
  opacity: 0.7;
  transition: 0.2s ease-in;

  &:hover{
    @extend %menu-hover;
  }
}