$main-color: #DC780B;
$secondary-color: #FBF1E7;

$main-text-color: #150C01;
$secondary-text-color: #fff;


$fz-s: clamp(14px, calc(16 / 1300 *100vw), 16px);


$lh-s: clamp(18px, calc(24 / 1300 *100vw), 24px);